.container {

  display: flex;

  justify-content: center;

  background-color: #FFFFE8;
  padding: 20px;

}

.cat {

  margin: 10px;

}


.btn {

  display: flex;

  justify-content: space-evenly;

}



button {

  background-color: #FFB26B;

  color: #fff;

  padding: 10px;

  border: none;

  text-transform: uppercase;

}

.showMore{
  background-color: #FFFFE8;
}
